## CMake files (from github/gitignore)
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


## CMake targets
dist
gaussMap.egg-info
build

## VSCode stuff
.vscode